{# XML definition for a VLAN bridge in KVM hosts #}
<interface type="bridge" name="br{{ vlan }}">
  <start mode="onboot" />
  <bridge stp="on" delay="0.0">
    <interface type="vlan" name="INTERFACE_NAME.{{ vlan }}">
      <vlan tag="{{ vlan }}">
        <interface name="INTERFACE_NAME" />
      </vlan>
    </interface>
  </bridge>
</interface>
