# Kickstart file for VM #{{ vm_identifier }}

{# System Authorization Information #}
auth --enableshadow --passalgo=sha512

{# System Bootloader information #}
bootloader --location=mbr

{# Installation media #}
cdrom

{# Partition Clearing Information #}
clearpart --all --initlabel

{# LVM Disk Partitioning #}
part pv.vda --fstype="lvmpv" --ondisk=vda --size=1 --grow
volgroup vg.vda --pesize=4096 pv.vda
logvol / fstype="ext4" --name=root --vgname=vg.vda --size=5024 --grow
logvol swap --fstype="swap" --name=swap --vgname=vg.vda --size=1024
part /boot --fstype="ext4" --size=500

{# Firewall configuration #}
firewall --disabled

{# Run the setup agent on the first boot #}
firstboot --disabled

{# Install OS instead of upgrade #}
install

{# System Keyboard #}
keyboard {{ keyboard }}

{# System Language #}
lang {{ language }}.UTF-8

{# Installation log level #}
logging --level=info

{# Network Information #}
network --bootproto=static --ip={{ ip_address }} --netmask={{ netmask }} --gateway={{ gateway }} --nameserver={{ dns }}

{# Reboot after installation #}
reboot --eject

{# Root password #}
rootpw --iscrypted {{ crypted_root_password }}

{# SELinux configuration #}
selinux --disabled

{# Do not configure the X Window System #}
skipx

{# Use text mode install #}
text

{# System Timezone #}
timezone --utc {{ timezone }}

{# Username / Password #}
user --name "administrator" --password={{ crypted_admin_password }} --groups=wheel --iscrypted

{# Clear the MBR #}
zerombr

{# Install packages #}
%packages
@core
%end
