{
{# shutting down the VM #}
echo '{{ host_sudo_passwd }}' | sudo -S virsh shutdown {{ vm_identifier }}
{# Wait for shut off the VM #}
while [ $(virsh domstate {{ vm_identifier }}) != 'shut off' ]; do
    sleep 0.1
done
}
