{% extends "emails/base.j2" %}
{% block content %}
<h2>An error occurred while building your VM "{{ name }}".</h1>
<p>The NOC have been notified and will be in contact shortly.</p>
<p>We apologise for any inconvenience caused.</p>
{% endblock %}
