{% extends "emails/base.j2" %}
{# A general failure email to be sent to the NOC #}

{% block title %}An error occurred while processing VM #{{ idVM }}.{% endblock %}

{% block content %}
<p>Task: <em>{{ task }}</em></p>
<p>Below is the data that was involved in the error.</p>
<hr />
<pre><code>{{ data }}</code></pre>
{% endblock %}
