{% extends "emails/base.j2" %}
{% block content %}
<div>
  <div class="title-cell">
    <div class="title">
      <span class="font-calibri">
        <h1 class="title">Your VM "{{ name }}" has been shut down successfully!</h1>
      </span>
    </div>
  </div>
</div>
{% endblock %}
