{% extends "emails/base.j2" %}
{% block content %}
<div>
  <div class="title-cell">
    <div class="title">
      <span class="font-calibri">
        <h1 class="title">Your VM "{{ name }}" has been restarted successfully!</h1>
      </span>
    </div>
  </div>
</div>

<div>
  <div class="title-cell">
    <hr class="divider" />
  </div>
</div>

{% endblock %}
