{% extends "emails/base.j2" %}
{% block content %}
<h2>Your VM "{{ name }}" has been scheduled for deletion.</h1>
<p>This VM will be deleted on;</p>
<hr />
<table role="presentation" border="0" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <th>{{ deletion_date }}</th>
    </tr>
  </tbody>
</table>
<hr />
<p>You can restore the VM from the <a href="https://saas.cloudcix.com/compute">CloudCIX Compute App</a> at any time before this date.</p>
{% endblock %}
