{% extends "emails/base.j2" %}
{% block content %}
<div>
  <div class="title-cell">
    <div class="title">
      <span class="font-calibri">
        <h1 class="title">Your VM "{{ name }}" has been scheduled for deletion.</h1>
        <h2>This VM will be deleted in on {{ deletion_date }}.</h2>
        <h3>If you change your mind, you can restore the VM from the CloudCIX Compute App before this date.</h3>
      </span>
    </div>
  </div>
</div>
{% endblock %}
