{
set -e
{# Check if the drive is detached #}
echo '{{ host_sudo_passwd }}' | sudo -S --prompt '' virsh domblklist --domain {{ vm_identifier }} | grep ' {{ ceph.source_name }} ' &> /dev/null
if [ $? -eq 0 ];
    echo 'CephAttachSuccess: Drive was already attached'
    exit 0
then

echo '{{ host_sudo_passwd }}' | sudo -S virsh attach-device --domain {{ vm_identifier }} --file --file {{ network_drive_path }}/VMs/{{ vm_identifier }}/ceph_{{ ceph.identifier }}.xml --persistent --config
echo "CephAttachSuccess"
}
