{% comment %}
Given a VM, remove the Target block device
{% endcomment %}
{
set -e
{# Check if the drive is attached to the VM #}
echo '{{ host_sudo_passwd }}' | sudo -S --prompt '' virsh domblklist --domain {{ vm_identifier }} | grep ' {{ target_name }} ' &> /dev/null
if [ $? -eq 1 ];
    echo 'CephDetachSuccess: Drive was not attached'
    exit 0
then

echo '{{ host_sudo_passwd }}' | sudo -S --prompt '' virsh detach-disk --domain {{ vm_identifier }} --target {{ target_name }} --config
echo 'CephDetachSuccess'
}
