{
{# Update the vGPU values #}
{# a. Detach ALL #}
{% for gpu in changes['gpu'] %}
echo '{{ host_sudo_passwd }}' | sudo -S virsh detach-device {{ vm_identifier }} --file {{ network_drive_path }}/VMs/{{ vm_identifier }}/pci_gpu_{{ gpu['id'] }}.xml  --persistent
{% endfor %}
{# b. Attach Required #}
{% if changes['gpu_attach']|length > 0 %}
{% for gpu in changes['gpu_attach'] %}
echo '{{ host_sudo_passwd }}' | sudo -S virsh attach-device --domain {{ vm_identifier }} --file {{ network_drive_path }}/VMs/{{ vm_identifier }}/pci_gpu_{{ gpu['id'] }}.xml --persistent
{% endfor %}
{% endif %}
}
