# Kickstart file for Image #{{ id_image }} in VM {{ vm_identifier }}
{# Install OS instead of upgrade #}
install
{# Installation media #}
cdrom
{# System Language #}
lang {{ lang }}.UTF-8
{# System Keyboard #}
keyboard {{ keyboard }}
{# Firewall configuration #}
firewall --disabled
{# Run the setup agent on the first boot #}
firstboot --disabled
{# System Timezone #}
timezone --utc {{ tz }}
{# Use text mode install #}
text
{# System Authorization Information #}
auth --enableshadow --passalgo=sha512
{# Clear the MBR #}
zerombr
{# Partition Clearing Information #}
clearpart --all --initlabel
{# Installation log level #}
logging --level=info
{# Network Information #}
network --bootproto=static --ip={{ ip }} --netmask={{ netmask_ip }} --gateway={{ gateway }} --nameserver={{ dns }}
{# System Bootloader information #}
bootloader --location=mbr
{# Disk Partioning #}
clearpart --all --initlabel
autopart --type=lvm
{# Root password #}
rootpw --iscrypted {{ crypted_root_password }}
{# Username / Password #}
user --name "administrator" --password={{ crypted_user_password }} --iscrypted
{# SELinux configuration #}
selinux --disabled
{# Do not configure the X Window System #}
skipx
{# Reboot after installation #}
reboot --eject
{# Install packages #}
%packages
@core
%end
