# Kickstart file for Image #{{ id_image }} in VM {{ vm_identifier }}
{# System Authorization Information #}
auth --enableshadow --passalgo=sha512
{# Clear the MBR #}
zerombr
{# Partition Clearing Information #}
clearpart --all --initlabel
{# Use text mode install #}
text
{# Firewall configuration #}
firewall --disabled
{# Run the setup agent on the first boot #}
firstboot --disable
{# System Keyboard #}
keyboard {{ keyboard }}
{# System Language #}
lang {{ lang }}.UTF-8
{# Installation log level #}
logging --level=info
{# Installation media #}
cdrom
{# Network Information #}
network --bootproto=static --ip={{ ip }} --netmask={{ netmask_ip }} --gateway={{ gateway }} --nameserver={{ dns }}
{# System Bootloader information #}
bootloader --location=mbr
{# Disk Partioning #}
clearpart --all --initlabel
part swap --asprimary --fstype="swap" --size=1024
part /boot --fstype xfs --size=200
part pv.01 --size=1 --grow
volgroup rootvg01 pv.01
logvol / --fstype xfs --name=lv01 --vgname=rootvg01 --size=1 --grow
{# Root password #}
rootpw --iscrypted {{ root_password }}
{# Username / Password #}
user administrator --name "{{ username }}" --password={{ user_password }} --iscrypted
{# SELinux configuration #}
selinux --disabled
{# Do not configure the X Window System #}
skipx
{# System Timezone #}
timezone --utc {{ tz }}
{# Install OS instead of upgrade #}
install
{# Reboot after installation #}
reboot
{# Install packages #}
%packages
@core
%end
