{# Create VRF #}
set groups vrf-{{ idProject }} routing-instances vrf-{{ idProject }} instance-type virtual-router
set groups vrf-{{ idProject }} security zones security-zone vrf-{{ idProject }}
{# --------------------------------------------------------------------------------------------------------------------------------- #}
{# Create a northbound route #}
{% if port_data['firewall'] %}
set groups vrf-{{ idProject }} routing-instances vrf-{{ idProject }} routing-options static route 0.0.0.0/0 next-table PUBLIC_FW.inet.0
{% else %}
set groups vrf-{{ idProject }} routing-instances vrf-{{ idProject }} routing-options static route 0.0.0.0/0 next-table PUBLIC.inet.0
{% endif %}
{# --------------------------------------------------------------------------------------------------------------------------------- #}
{# Define VRF public IP on ge-0/0/0.0 interface #}
set groups vrf-{{ idProject }} interfaces {{ port_data['public_port'] }} unit 0 family {{ port_data['type'] }} address {{ vrf_ip }}/{{ mask_vpn }}
{# --------------------------------------------------------------------------------------------------------------------------------- #}
{# Create southbound sub interface and gateway for each VLAN and attach them to the VRF #}
{% for vlan in vlans %}
set groups vrf-{{ idProject }} routing-instances vrf-{{ idProject }} interface {{ port_data['private_port'] }}.{{ vlan['vlan'] }}
{# Configure sub-interfaces #}
set groups vrf-{{ idProject }} interfaces {{ port_data['private_port'] }} unit {{ vlan['vlan'] }} description vrf-{{ idProject }}-{{ vlan['vlan'] }} vlan-id {{ vlan['vlan'] }} family {{ vlan['type'] }} address {{ vlan['address_range'] }}
{# Create private zones #}
set groups vrf-{{ idProject }} security zones security-zone vrf-{{ idProject }} interfaces {{ port_data['private_port'] }}.{{ vlan['vlan'] }} host-inbound-traffic system-services ping
{% endfor %}
{# --------------------------------------------------------------------------------------------------------------------------------- #}
{# Source (outbound) NAT #}
set groups vrf-{{ idProject }} security nat source rule-set vrf-{{ idProject }}-outbound description vrf-{{ idProject }}-outbound-nat
{% if port_data['firewall'] %}
set groups vrf-{{ idProject }} security nat source pool vrf-{{ idProject }}-public routing-instance PUBLIC_FW
{% else %}
set groups vrf-{{ idProject }} security nat source pool vrf-{{ idProject }}-public routing-instance PUBLIC
{% endif %}
set groups vrf-{{ idProject }} security nat source pool vrf-{{ idProject }}-public address {{ vrf_ip }}
set groups vrf-{{ idProject }} security nat source rule-set vrf-{{ idProject }}-outbound from zone vrf-{{ idProject }}
{% if port_data['firewall'] %}
set groups vrf-{{ idProject }} security nat source rule-set vrf-{{ idProject }}-outbound to zone PUBLIC_FW
{% else %}
set groups vrf-{{ idProject }} security nat source rule-set vrf-{{ idProject }}-outbound to zone PUBLIC
{% endif %}
{% for vlan in vlans %}
set groups vrf-{{ idProject }} security nat source rule-set vrf-{{ idProject }}-outbound rule {{ vlan['vlan'] }}-outbound match source-address {{ vlan['address_range'] }}
set groups vrf-{{ idProject }} security nat source rule-set vrf-{{ idProject }}-outbound rule {{ vlan['vlan'] }}-outbound then source-nat pool vrf-{{ idProject }}-public
{% endfor %}
{# --------------------------------------------------------------------------------------------------------------------------------- #}
{# Create static ruleset inbound 1:1 NAT#}
{% for nat in nats %}
{% set rule_ip_segment = nat['private'].split('/')[0].replace('.', '-') %}
set groups vrf-{{ idProject }} security nat static rule-set all-inbound-static-nat rule {{ vxlan }}-{{ nat['vlan'] }}-{{ rule_ip_segment }} match destination-address {{ nat['public'] }}
set groups vrf-{{ idProject }} security nat static rule-set all-inbound-static-nat rule {{ vxlan }}-{{ nat['vlan'] }}-{{ rule_ip_segment }} then static-nat prefix {{ nat['private'] }}
set groups vrf-{{ idProject }} security nat static rule-set all-inbound-static-nat rule {{ vxlan }}-{{ nat['vlan'] }}-{{ rule_ip_segment }} then static-nat prefix routing-instance vrf-{{ idProject }}
{# Create proxy-arp on specific interface with predefined IP addresses #}
set groups vrf-{{ idProject }} security nat proxy-arp interface {{port_data['public_port']}}.0 address {{ nat['public'] }}
{% endfor %}
{# --------------------------------------------------------------------------------------------------------------------------------- #}
{% for vpn in vpns %}
{% if vpn['siteToSite'] %}
{# add the appropriate interfaces to it #}
set groups vrf-{{ idProject }} interfaces st0 unit {{ vpn['vlan'] }} family inet
{# set up some VPN parameters #}
{# Phase 1 #}
set groups vrf-{{ idProject }} security ike policy vrf-{{ idProject }}-vpn-{{ vpn['vlan'] }}-ike-policy mode main
set groups vrf-{{ idProject }} security ike policy vrf-{{ idProject }}-vpn-{{ vpn['vlan'] }}-ike-policy proposal-set {{ vpn['ike'] }}
set groups vrf-{{ idProject }} security ike policy vrf-{{ idProject }}-vpn-{{ vpn['vlan'] }}-ike-policy pre-shared-key ascii-text {{ vpn['preSharedKey'] }}
set groups vrf-{{ idProject }} security ike gateway vrf-{{ idProject }}-vpn-{{ vpn['vlan'] }}-gw ike-policy vrf-{{ idProject }}-vpn-{{ vpn['vlan'] }}-ike-policy
set groups vrf-{{ idProject }} security ike gateway vrf-{{ idProject }}-vpn-{{ vpn['vlan'] }}-gw address {{ vpn['ipRemoteAddress'] }}
set groups vrf-{{ idProject }} security ike gateway vrf-{{ idProject }}-vpn-{{ vpn['vlan'] }}-gw external-interface {{ port_data['public_port'] }}.0
set groups vrf-{{ idProject }} security ike gateway vrf-{{ idProject }}-vpn-{{ vpn['vlan'] }}-gw local-address {{ vrf_ip }}
set groups vrf-{{ idProject }} security ike gateway vrf-{{ idProject }}-vpn-{{ vpn['vlan'] }}-gw version v1-only
{# Phase 2 authentication and encryption #}
set groups vrf-{{ idProject }} security ipsec policy vrf-{{ idProject }}-vpn-{{ vpn['vlan'] }}-ipsec-policy proposal-set {{ vpn['ipsec'] }}
set groups vrf-{{ idProject }} security ipsec policy vrf-{{ idProject }}-vpn-{{ vpn['vlan'] }}-ipsec-policy perfect-forward-secrecy keys group2
set groups vrf-{{ idProject }} security ipsec vpn vrf-{{ idProject }}-vpn-{{ vpn['vlan'] }}-ipsec-vpn ike gateway vrf-{{ idProject }}-vpn-{{ vpn['vlan'] }}-gw
set groups vrf-{{ idProject }} security ipsec vpn vrf-{{ idProject }}-vpn-{{ vpn['vlan'] }}-ipsec-vpn ike ipsec-policy vrf-{{ idProject }}-vpn-{{ vpn['vlan'] }}-ipsec-policy
set groups vrf-{{ idProject }} security ipsec vpn vrf-{{ idProject }}-vpn-{{ vpn['vlan'] }}-ipsec-vpn bind-interface st0.{{ vpn['vlan'] }}
set groups vrf-{{ idProject }} security ipsec vpn vrf-{{ idProject }}-vpn-{{ vpn['vlan'] }}-ipsec-vpn establish-tunnels immediately
{# anchor the relevant interfaces in their own routing instance and security zone #}
set groups vrf-{{ idProject }} routing-instances vrf-{{ idProject }} interface st0.{{ vpn['vlan'] }}
set groups vrf-{{ idProject }} security zones security-zone vrf-{{ idProject }} interfaces st0.{{ vpn['vlan'] }}
{# add a route to the other end of the IPSec tunnel with the tunnel if as the nexthop #}
set groups vrf-{{ idProject }} routing-instances vrf-{{ idProject }} routing-options static route {{ vpn['remote_subnet_cidr'] }} next-hop st0.{{ vpn['vlan'] }}
{% endif %}
{% endfor %}
{# --------------------------------------------------------------------------------------------------------------------------------- #}
set apply-groups vrf-{{ idProject }}
