{#  Restart the VM back. #}
"""
try{
$vm_name = '{{ vm_identifier }}'
Start-VM -Name $vm_name
Write-Host 'VM='$vm_name' Successfully Rebooted.'
} catch {Write-Error 'VM failed to restart, details: $_'}
"""