mount {{ freenas_url }} Z: -o nolock & powershell -file Z:\HyperV\scripts\VMCreator.ps1 -VMName {{ vm_identifier }} -Gen 1 -OSName {{ image }} -ProcessorCount {{ cpu }} -Dynamic 1 -Ram {{ ram }} -Hdd {{ hdd }} -Flash {{ flash }} -MulDrive {{ mul_drives }} -VlanId {{ vlan }} -Verbose
umount Z: