"""
Get-VM -Name {vm_identifier} | Get-VMHardDiskDrive -VMName {vm_identifier} | foreach { Remove-Item -Path $_.Path -Recurse -Force -Confirm:$false}
Remove {vm_identifier}
Remove-Item -Recurse D:\HyperV\{vm_identifier}
Write-Host "VM Successfully Deleted."
"""