<?xml version="1.0" encoding="utf-8"?>
<unattend xmlns="urn:schemas-microsoft-com:unattend">
	<settings pass="specialize">
		<component name="Microsoft-Windows-Shell-Setup" processorArchitecture="amd64" publicKeyToken="31bf3856ad364e35" language="neutral" versionScope="nonSxS" xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
			<TimeZone>{{ tz }}</TimeZone>
		</component>
		<component name="Microsoft-Windows-TerminalServices-LocalSessionManager" processorArchitecture="amd64" publicKeyToken="31bf3856ad364e35" language="neutral" versionScope="nonSxS" xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
			<fDenyTSConnections>false</fDenyTSConnections>
		</component>
		<component name="Microsoft-Windows-TerminalServices-RDP-WinStationExtensions" processorArchitecture="amd64" publicKeyToken="31bf3856ad364e35" language="neutral" versionScope="nonSxS" xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
			<UserAuthentication>0</UserAuthentication>
			<SecurityLayer>1</SecurityLayer>
		</component>
		<component name="Networking-MPSSVC-Svc" processorArchitecture="amd64" publicKeyToken="31bf3856ad364e35" language="neutral" versionScope="nonSxS" xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
			<FirewallGroups>
				<FirewallGroup wcm:action="add" wcm:keyValue="EnableRemoteDesktop">
					<Active>true</Active>
					<Group>Remote Desktop</Group>
					<Profile>all</Profile>
				</FirewallGroup>
			</FirewallGroups>
		</component>
		<component name="Microsoft-Windows-TCPIP" processorArchitecture="amd64" publicKeyToken="31bf3856ad364e35" language="neutral" versionScope="nonSxS" xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
			<Interfaces>
				<Interface wcm:action="add">
					<Ipv4Settings>
						<DhcpEnabled>false</DhcpEnabled>
						<RouterDiscoveryEnabled>false</RouterDiscoveryEnabled>
					</Ipv4Settings>
					<Ipv6Settings>
						<DhcpEnabled>false</DhcpEnabled>
						<RouterDiscoveryEnabled>false</RouterDiscoveryEnabled>
					</Ipv6Settings>
					<UnicastIpAddresses>
						<IpAddress wcm:action="add" wcm:keyValue="1">{{ ip }}/{{ netmask }}</IpAddress>
					</UnicastIpAddresses>
					<Identifier>Ethernet</Identifier>
					<Routes>
						<Route wcm:action="add">
							<Identifier>0</Identifier>
							<NextHopAddress>{{ gateway }}</NextHopAddress>
							<Prefix>0.0.0.0/0</Prefix>
						</Route>
					</Routes>
				</Interface>
			</Interfaces>
		</component>
		<component name="Microsoft-Windows-DNS-Client" processorArchitecture="amd64" publicKeyToken="31bf3856ad364e35" language="neutral" versionScope="nonSxS" xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
			<Interfaces>
				<Interface wcm:action="add">
					<DNSServerSearchOrder>
                        {% for dns_server in dns %}
                        <IpAddress wcm:action="add" wcm:keyValue="{{ loop.index }}">{{ dns_server }}</IpAddress>
                        {% endfor %}
					</DNSServerSearchOrder>
					<Identifier>Ethernet</Identifier>
					<DisableDynamicUpdate>false</DisableDynamicUpdate>
					<EnableAdapterDomainNameRegistration>true</EnableAdapterDomainNameRegistration>
				</Interface>
			</Interfaces>
		</component>
	</settings>
	<settings pass="oobeSystem">
		<component name="Microsoft-Windows-Shell-Setup" processorArchitecture="amd64" publicKeyToken="31bf3856ad364e35" language="neutral" versionScope="nonSxS" xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
			<OOBE>
				<HideEULAPage>true</HideEULAPage>
				<HideWirelessSetupInOOBE>true</HideWirelessSetupInOOBE>
				<NetworkLocation>Work</NetworkLocation>
				<ProtectYourPC>1</ProtectYourPC>
			</OOBE>
			<UserAccounts>
				<AdministratorPassword>
					<Value>{{ admin_password }}</Value>
					<PlainText>true</PlainText>
				</AdministratorPassword>
			</UserAccounts>
			<AutoLogon>
			    <Password>
			        <Value>{{ admin_password }}</Value>
			        <PlainText>true</PlainText>
			    </Password>
			    <Username>Administrator</Username>
			    <LogonCount>1</LogonCount>
			    <Enabled>true</Enabled>
			</AutoLogon>
			<TimeZone>{{ tz }}</TimeZone>
			<FirstLogonCommands>
			    <SynchronousCommand wcm:action="add">
				    <Order>1</Order>
					<RequiresUserInput>false</RequiresUserInput>
					<Description>Enable Remote Desktop Firewall</Description>
					<CommandLine>Netsh advfirewall firewall set rule group="remote desktop" new enable=yes</CommandLine>
				</SynchronousCommand>
				<SynchronousCommand wcm:action="add">
					<Order>2</Order>
					<RequiresUserInput>false</RequiresUserInput>
					<Description>AVMA</Description>
					<CommandLine>cscript //B %windir%/system32/slmgr.vbs /ipk C3RCX-M6NRP-6CXC9-TW2F2-4RHYD</CommandLine>
				</SynchronousCommand>
				<SynchronousCommand wcm:action="add">
					<Order>3</Order>
					<Description>Windows Updates</Description>
					<RequiresUserInput>false</RequiresUserInput>
					<CommandLine>Usoclient StartDownload StartInstall</CommandLine>
				</SynchronousCommand>
			</FirstLogonCommands>
		</component>
		<component name="Microsoft-Windows-International-Core" processorArchitecture="amd64" publicKeyToken="31bf3856ad364e35" language="neutral" versionScope="nonSxS" xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
			<InputLocale>{{ lang }}</InputLocale>
			<SystemLocale>{{ lang }}</SystemLocale>
			<UILanguage>{{ lang }}</UILanguage>
			<UILanguageFallback>{{ lang }}</UILanguageFallback>
			<UserLocale>{{ lang }}</UserLocale>
		</component>
	</settings>
</unattend>