{#----------------------- Drives creations------------------------- #}
{% if hdd %}
echo {{ host_sudo_passwd }} | sudo -S qemu-img create -f qcow2 /var/lib/libvirt/images/{{ vm_identifier }}_HDD_{{ hdd.split(':')[0] }}.img {{ hdd.split(':')[1] }}G
{% elif ssd %}
echo {{ host_sudo_passwd }} | sudo -S qemu-img create -f qcow2 /var/lib/libvirt/images/{{ vm_identifier }}_SSD_{{ ssd.split(':')[0] }}.img {{ ssd.split(':')[1] }}G
{% endif %}
{% for drive in drives %}
echo {{ host_sudo_passwd }} | sudo -S qemu-img create -f qcow2 /var/lib/libvirt/images/{{ vm_identifier }}_{{ drive["type"] }}_{{ drive["id"] }}.img {{ drive["size"] }}G
{% endfor %}

{#----------------------- VM creation------------------------- #}
echo {{ host_sudo_passwd }} | sudo -S virt-install --name {{ vm_identifier }} \
--memory {{ ram }} \
--vcpus {{ cpu }} \
{% if hdd %}
--disk path="/var/lib/libvirt/images/{{ vm_identifier }}_HDD_{{ hdd.split(':')[0] }}.img,device=disk,bus=virtio" \
{% elif ssd %}
--disk path="/var/lib/libvirt/images/{{ vm_identifier }}_SSD_{{ ssd.split(':')[0] }}.img,device=disk,bus=virtio" \
{% endif %}
{% for drive in drives %}
--disk path="/var/lib/libvirt/images/{{ vm_identifier }}_{{ drive["type"] }}_{{ drive["id"] }}.img,device=disk,bus=virtio" \
{% endfor %}
--graphics vnc \
--location {{ network_drive_path }}/ISOs/{{ image_filename }} \
--os-variant rhel6 \
--initrd-inject={{ network_drive_path }}/kickstarts/{{ vm_identifier }}.cfg -x "ks=file:/{{ vm_identifier }}.cfg" \
--network bridge=br{{ vlan }}
