{# 1. First shutdown the VM #}
echo {{ host_sudo_passwd }} | sudo -S virsh shutdown {{ vm_identifier }}

{# 2. Delete the VM instance #}
echo {{ host_sudo_passwd }} | sudo -S virsh undefine {{ vm_identifier }}

{# 3. Delete all of the drives #}
{# 3a. Primary Drive #}
{% if hdd %}
echo {{ host_sudo_passwd }} | sudo -S rm -rf /var/lib/libvirt/images/{{ vm_identifier }}_HDD_{{ hdd.split(':')[0] }}.img
{% elif ssd %}
echo {{ host_sudo_passwd }} | sudo -S rm -rf /var/lib/libvirt/images/{{ vm_identifier }}_SSD_{{ ssd.split(':')[0] }}.img
{% endif %}

{# 3b. Extra Drives #}
{% for drive in drives %}
echo {{ host_sudo_passwd }} | sudo -S rm -rf /var/lib/libvirt/images/{{ vm_identifier }}_{{ drive["type"] }}_{{ drive["id"] }}.img
{% endfor %}
