# Kickstart file for VM #{{ vm_identifier }}

{# System Language #}
lang {{ language }}

{# Language Modules to install #}
langsupport {{ language }}

{# System Keyboard #}
keyboard {{ keyboard }}

{# System Mouse #}
mouse

{# System Timezone #}
timezone {{ timezone }}

{# Root Password #}
rootpw --disabled

{# Username / Password #}
user administrator --fullname "Administrator" --password {{ crypted_admin_password }} --iscrypted

{# Reboot After Installation #}
reboot

{# Use text mode install #}
text

{# Install OS instead of upgrade #}
install

{# Installation Media #}
cdrom

{# System Bootloader Configuration #}
bootloader --location=mbr

{# Clear the MBR #}
zerombr yes

{# Partition Clearing Information #}
clearpart --all --initlabel

{# Basic Disk Partition #}
part / --fstype ext4 --size 1 --grow --asprimary
part swap --size 1024
part /boot --fstype ext4 --size 256 --asprimary

{# System Authorization Information #}
authconfig --passalgo=sha512 --kickstart

{# Network #}
network --bootproto=static --device={{ device_type }}{{ device_index }} --ip={{ first_nic_primary['ip'] }} --netmask={{ first_nic_primary['netmask'] }} --gateway={{ first_nic_primary['gateway'] }} --nameserver='{{ dns }}'

{# Do not configure the X Window System #}
skipx

{# Packages #}
%packages
openssh-server
ifupdown

{# Post Install #}
%post --nochroot
(
{% if first_nic_secondary %}
{% for address in first_nic_secondary['ips'] %}
    echo -e 'auto {{ device_type }}{{ device_index }}:{{ loop.index }}\niface {{ device_type }}{{ device_index }}:{{ loop.index }} inet static\n    address {{ address }}\n    netmask {{ first_nic_secondary['netmask'] }}\n' >> /target/etc/network/interfaces;
{% endfor %}
{% endif%}

{% for nic in nics %}
{% set nic_count = device_index + nic['order'] %}
{% for address in nic['ips'] %}
    echo -e 'auto {{ device_type }}{{ nic_count }}\niface {{ device_type }}{{ nic_count }} inet static\n    address {{ address }}\n    netmask {{ nic['netmask'] }}\n' >> /target/etc/network/interfaces;
{% endfor %}
{% endfor %}

    ifup -a
) 1> /target/root/post_install.log 2>&1
%end
